:root {
    --font-primary: "Oswald", serif;
    --font-secondary: "Open Sans", serif;
    --color-shovel-knight: #39C6FD;
    --color-infinite-night: #070D37;
    --color-hawaii-morning: #00b7ff;
    --bg-infinite-night: #070D37;
    --bg-white: white;
    --color-white: white;
    --text-very-small: 12px;
    --text-small: 16px;
    --text-sm: 20px;
    --text-lg: 48px;
    --text-2xl: 80px;
    --lh-16: 16.34px;
    --lh-21: 21.79px;
    --lh-23: 23.71px;
    --lh-25: 25.15px;
    --lh-29: 29.64px;
    --lh-71: 71px;
    --lh-118: 118.56px;
}

.font-primary {
    font-family: var(--font-primary);
}

.font-secondary {
    font-family: var(--font-secondary);
}

.color-shovel {
    color: var(--color-shovel-knight);
}

.color-infinite {
    color: var(--color-infinite-night);
}

.bg-infinite {
    color: var(--bg-infinite-night);
}

.text-2xl {
    font-size: var(--text-2xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-small {
    font-size: var(--text-small);
}

.text-very-small {
    font-size: var(--text-very-small);
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-25 {
    line-height: var(--lh-25);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-118 {
    line-height: var(--lh-118);
}

@media (max-width:767.98px) {
    .fs-60 {
        font-size: 60px !important;
        line-height: normal !important;
    }
}


@media (max-width:992px) {
    .group-img {
        position: absolute;
        top: -33%;
    }

    .section-2 {
        margin-top: 178px;
    }
}

@media (max-width:575.98px) {

    .lh-71 {
        line-height: 60px;
    }

    .gap-30 {
        gap: 20px !important;
    }

    .group-img {
        position: absolute;
        top: -16%;
        max-width: 250px;
    }
}