@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url(root.css);

.bg-img {
    background-image: url(../images/png/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-2 {
    background-image: url(../images/svg/section-4-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bg-img {
    background-image: url(../images/png/footer-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-layer {
    background-image: url(../images/png/bg-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1140px !important;
}

.button,
.button-3 {
    padding: 8px 20px 8px 20px;
    border-radius: 3.48px;
    border: 1px solid var(--color-shovel-knight);
    background-color: var(--color-shovel-knight) !important;
}

.button-2,
.button-4 {
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--color-shovel-knight);
    color: var(--color-shovel-knight) !important;
    background-color: var(--bg-infinite-night);
}

.button:hover,
.button-3:hover {
    color: white;
}

.layer {
    right: 0%;
    top: 0%;
    width: 243.41px;
    height: 243.41px;
}

.layer-2 {
    width: 243.41px;
    /* height: 243.41px; */
    bottom: 10%;
    left: 0%;
}

.blur-layer {
    bottom: -1%;
    right: 0;
    left: 0%;
    width: 100%;
}

/****** margin & padding property ******/
.pt-12 {
    padding-top: 12px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-63 {
    margin-top: 63px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-23 {
    margin-top: 23px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-68 {
    margin-top: 68px;
}

.mt-77 {
    margin-top: 77px;
}

.mb-198 {
    margin-bottom: 198px;
}

.mb-200 {
    margin-bottom: 200px;
}

/****** width property ******/

.max-w-607 {
    max-width: 607px;
}

.max-w-632 {
    max-width: 632px;
}

.max-w-627 {
    max-width: 627px !important;
}

.max-w-680 {
    max-width: 680px;
}

.max-w-516 {
    max-width: 516px;
}

.max-w-582 {
    max-width: 582px;
}

.max-w-810 {
    max-width: 810px;
}

.max-w-1920 {
    max-width: 1920px !important;
}

/******* gap *******/

.gap-20 {
    gap: 20px;
}

.gap-23 {
    gap: 23px !important;
}

.gap-30 {
    gap: 30px !important;
}

.gap-53 {
    gap: 53px;
}

.cursor {
    cursor: pointer;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white;
}

.navbar-link:hover {
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rotate40 {
    transform: rotate(42deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.z-5 {
    z-index: 5 !important;
}

/******* section-1 *******/
.apple-logo {
    transition: all 300ms linear;
}

.apple-logo:hover {
    transform: translateY(-10px);
}

.vertical-align {
    vertical-align: baseline;
}

.group-img {
    right: 0%;
    top: -43%;
    z-index: -1;
}

.z-index {
    z-index: -5;
}

.ellipse-4 {
    top: -50%;
    left: -20%;
    z-index: -5 !important;
    /* width: 200px;
    height: 582px; */
    filter: blur(60px);
}

/******* slider *******/

.slick-track {
    display: flex !important;
    gap: 30px !important;
}

.slick-dots li button::before {
    font-size: 10px !important;
    opacity: 100% !important;
    color: white !important;
    margin-top: 24px;
}

.slick-dots li.slick-active button::before {
    opacity: 100%;
    color: var(--color-hawaii-morning) !important;
}

.card-1 {
    width: 494px !important;
    height: 461px !important;
}

/******* accordion *******/
.section-3 .accordion {
    padding-left: 12px;
    padding-right: 12px;
}

.section-3 .accordion-button {
    box-shadow: none !important;
    padding: 52px 16px 26px 0px !important;
}

.section-3 .accordion-button::not(.collapsed) {
    padding-bottom: 25px;
}

.section-3 .accordion-item {
    z-index: 1;
    border: none;
}

.section-3 .accordion-item {
    position: relative;
    overflow: hidden;
    background-color: transparent !important;
}

.section-3 .accordion-button {
    background-color: transparent !important;
}

.section-3 .accordion-button:not(.collapsed)::after {
    background-image: url("../images/svg/line-img.svg");
    background-size: contain;
    background-position: center;
    transform: rotate(0);
}

.section-3 .accordion-button::after {
    background-image: url("../images/svg/arrow-svg.svg");
    background-size: contain;
    background-position: center;
}

.line {
    border: 2px solid var(--color-shovel-knight);
}

.accordion-img {
    top: -42% !important;
    z-index: -1;
}

/******* section-4 *******/

.join-btn {
    padding: 11px 27px 11px 27px;
    border-radius: 4px;
    background: var(--color-shovel-knight);
    margin-top: 55px;
}

.join-btn:hover {
    color: white;
}

.box {
    max-width: 1140px;
    border: 3px solid var(--color-shovel-knight);
    border-radius: 10px;
    padding: 12px;
    background-color: var(--bg-infinite-night);
}

.phone-img {
    top: -35%;
    right: 41px;
}

.iphone {
    max-width: 302.79px;
    height: 608.46px;
}

.group-5-img {
    top: 31%;
    right: 0%;
}

/******* footer *******/

.opacity-70 {
    opacity: 70%;
}

.gap-63 {
    gap: 63px;
}

.footer-line {
    width: 1439.61px;
    width: 100%;
    border: 0.5px solid var(--color-shovel-knight);
}

/******* media query  *******/
@media (max-width: 1399.98px) {
    .accordion-img {
        max-width: 350px !important;
        top: -130px;
    }
}

@media (max-width: 1199.98px) {
    .accordion-img {
        max-width: 250px !important;
        top: -130px;
    }
}

@media (max-width: 767.98px) {
    .accordion-img {
        max-width: 190px !important;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column !important;
        background-color: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
    }

    .layer-2 {
        z-index: -1;
    }

    .show-navbar {
        right: 0 !important;
    }

    .button-3,
    .button-4 {
        display: none !important;
    }
}

@media (min-width:992px) {
    .section-3 .accordion {
        width: 946px;
    }

    .button,
    .button-2 {
        display: none !important;
    }

    .box {
        padding: 65px 0px 89px 73px;
    }
}